@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <h2>Pemberton Shareclass Hedging Prototype</h2>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>