<nav class="nav-menu">
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="diagram">Hedging Diagram</NavLink></li>
        <li><NavLink href="wizard">Hedging Wizard</NavLink></li>
    </ul>
</nav>
