<nav class="nav-menu">
    <div class="nav-brand">
        <span class="nav-brand__title">Pemberton</span>
        <span class="nav-brand__subtitle">FX Hedging</span>
    </div>
    <div class="nav-header">Navigation</div>
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                <span class="material-icons">home</span>
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="diagram">
                <span class="material-icons">account_tree</span>
                Hedging Diagram
            </NavLink>
        </li>
        <li>
            <NavLink href="wizard">
                <span class="material-icons">play_circle</span>
                Hedging Wizard
            </NavLink>
        </li>
    </ul>
</nav>